# Version Server

# You should remove this information once the initial deployment is done.

# These are no longer used.
# BACKEND_PORT=3000 # We will not expose backend port.
# POSTGRES_HOST=pf-db # This will be dynamically set.
# NGINX_PROXY=http://pf-backend:3000 # This will be dynamically set.

POSTGRES_USER=postgres
POSTGRES_PORT=5432
POSTGRES_DB=mydb
POSTGRES_APP_USER=appuser

# Change here
POSTGRES_PASSWORD=1234
POSTGRES_APP_PASSWORD=1234
PROJECT_NAME=g7 # Need to be unique
FRONTEND_PORT=5178 # Need to be unique
BACKEND_IMAGE_NAME=werasak/preflight-backend-g7:latest
FRONTEND_IMAGE_NAME=werasak/preflight-frontend-g7:latest